/.settings
/eclipse
/lib
/modules
/precompiled
/test-result
/tmp
/logs
.classpath
.project
cobertura.ser
/gae-1.6.0
/objectify-1.1
/conf/gae-1.6.0
/conf/objectify-1.1
/conf/crud
/war/WEB-INF/appengine-generated
/javadoc
*.pyc
*.iml
.idea
.configured
*.iml
/**/*.iml
*.ipr
*.iws
*.wsp
.DS_Store
